*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --mex-red: #AD4132;
  --text-wcolor: white;
  --cream: #FEFBEA;
  --dark-cream: #d8d2b4;
  --semi-dark-cream: #edead9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.width {
  margin: 0 auto;
  width: 1200px;

}

.navBox {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2e2c2c;
  font-weight: bold;
  font-size: 17px;
  /* position: sticky;
  top: 0; */
  z-index: 2;
}

.navItems {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

.navItems:hover {
  background-color: rgb(108, 104, 104);
  color: whitesmoke;
}

.right{
  float: right;
}

.active {
  background-color: rgb(108, 104, 104);
  color: whitesmoke;
}
