*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --mex-red: #AD4132;
    --text-wcolor: white;
    --cream: #FEFBEA;
    --dark-cream: #cbc8b9;
}

body {
    background-color: var(--cream);
}

header {
    background: var(--mex-red);
    color: var(--text-wcolor);
    padding: 5rem;
    display: flex;
    gap: 2rem;
}

header .left,
header .right {
    flex: 1;
}

header .right {
    /* add a transition here */
}

header .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    box-shadow: rgba(226, 234, 225, 0.903) 10px 10px, rgba(181, 208, 179, 0.4) 20px 20px;
}

header h1 {
    font-family: 'Tilt Warp', cursive;
    font-size: 6rem;
}

.button-container {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.button-container button {
    background: transparent;
    color: white;
    border: 0.20rem solid white;
}

.bio {
    text-align: center;
    margin: 5rem;
}

.preview {
    background: url("../images/tinga.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.preview h2 {
    font-size: 5rem;
    text-align: center;
    padding: 4rem;
    font-family: 'Vidaloka', serif;
}

.blur {
    background: rgba(0,0,0,0.5);
    min-height: 700px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.bio-para-container {
    display: flex;
    margin-top: 5rem;
    gap: 10rem;
    justify-content: center;
    align-items: center;
}

.bio-para-container p,
.bio-para-container img {
    flex: 1;
}

.bio-para-container h4 {
    font-size: 2.5rem;
    text-align: center;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.bio-para-container img {
    max-width: 35rem;
    max-height: 35rem;
    box-shadow: var(--mex-red) 10px 10px;
}

.images-section {
    background: var(--mex-red);
    text-align: center;
    padding: 2rem 5rem;
    color: white;
}

.images-section h2 {
    font-size: 5rem;
}

.image-container {
    display: flex;
    gap: 1rem;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.image-container img {
    display: flex;
    width: 23rem;
    height: 23rem;
    object-fit: cover;
}